<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Healthy Life</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link href="./css/home.css" rel="stylesheet">
	</head>
	<body class="text-center">
		<div class="overlay"></div>
		<div class="overlay-2"></div>
		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
			<header class="masthead mb-auto">
				<div class="inner">
					<h3 class="masthead-brand">Healthy Life</h3>
					<nav class="nav nav-masthead justify-content-center">
						<a class="nav-link active" href="#">Home</a>
						<a class="nav-link" href="/login">Login</a>
						<a class="nav-link" href="/register">Register</a>
					</nav>
				</div>
			</header>
			<main role="main" class="inner cover">
				<h1 class="cover-heading">Healthy Life</h1>
				<p class="lead">Assisting you with your journey towards a Healthier Life</p>
				<p class="lead">
					<a href="/register" class="btn btn-lg btn-secondary">Register Now</a>
				</p>
			</main>
			<footer class="mastfoot mt-auto">
				<div class="inner">
					<p>Copyright &copy; Healthy Life 2022</p>
				</div>
			</footer>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
